<!doctype html>
<html>
<head>
	<meta charset="utf-8" />
	<meta name="author" content="Tomas Kafka; http://tomaskafka.com">

	<title>{block title|striptags|trim}TODO: title{/block}</title>

	<link rel="stylesheet" media="screen,projection,tv" href="{$basePath}/css/screen.css?v=1" type="text/css">
	<link rel="shortcut icon" href="{$basePath}/favicon.ico" type="image/x-icon">
	<link href="http://fonts.googleapis.com/css?family=Bree+Serif&amp;subset=latin,latin-ext" rel="stylesheet" type="text/css">
	<link rel="canonical" href="{$context->httpResponse->headers[Content-Location]}" n:ifset="$context->httpResponse->headers[Content-Location]">
</head>

<body>
	{include #content}

	<script src="{$basePath}/js/jquery.js"></script>
	<script src="{$basePath}/js/jquery-ui-custom.js"></script>
	<script src="{$basePath}/js/jquery.ui.touch-punch.js"></script>
	<script src="{$basePath}/js/main.js"></script>
</body>
</html>